<mat-toolbar color="primary">
  <mat-toolbar-row >
    <span>AB-Store</span>

    <span class="example-spacer"></span>

    <a mat-flat-button color="primary"  routerLink="/product">Product</a>
    <a mat-flat-button color="primary" routerLink="/category">Category</a>
    
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <section id="about" class="container-fluid mb-5 mt-5 about-section">
    <div class="row " >
        <div class="col-md-6 ">
            <div class="box">
                <h1>Vision</h1>
                <p>Our mision is to be the leading provider of high-quality, diverse, and sustainable plants that enhance the beauty and health of homes and environments worldwide. We strive to offer top-notch plants that are healthy, robust, and visually appealing, catering to various tastes, needs, and environmental conditions.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <h1>Mission</h1>
                <p>At AB-Plants, our mission is to offer a wide variety of plants that cater to every customer’s needs, promoting a greener and more vibrant living space. We are committed to exceptional customer service, educating our community on plant care, and supporting sustainable practices that nurture both nature and people.</p>
            </div>
        </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
